<div class="card-container">
    <mat-card>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
            <mat-form-field >
                <input matInput ngModel name="email" type="email" placeholder="E-mail" #emailInput="ngModel" required email/>
                <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput ngModel name="password" type="password" placeholder="Password" #passwordInput="ngModel" required> 
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
            </mat-form-field>
            <button mat-raised-button class="primary button-shadow" type="submit" *ngIf="!isLoading">Login</button>
        </form>
        <ul *ngIf="!isLoading">
            <li>
              <a routerLink="/auth/reset-password" routerLinkActive="accent">Forgot your password?</a>
            </li>
        </ul>
    </mat-card>
</div>