<div class="card-container">
    <mat-card>
        <form (submit)="newPassword(newPasswordForm)" #newPasswordForm="ngForm">
            <mat-form-field>
                <input matInput ngModel name="password" type="password" placeholder="Password" #passwordInput="ngModel" required> 
                <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
            </mat-form-field>
            <button mat-raised-button class="primary button-shadow" type="submit">Change Password</button>
        </form>
    </mat-card>
</div>